.res-nightmode .thing .title {
  color: hsl(0,0%,87%);
}
.res-nightmode .thing:not(.stickied) .title:visited,
.res-nightmode .thing.visited:not(.stickied) .title,
.res-nightmode.combined-search-page .search-result a:visited,
.res-nightmode.combined-search-page .search-result a:visited > mark {
  color: hsl(0,0%,65%);
}



/* HEADER */

.res-floater-visibleAfterScroll {
/*
    top: 5px !important;
    z-index: 10000000000 !important;
*/
}

.res-nightmode #sr-header-area,
.res-nightmode #sr-more-link {
    background-color: rgb(68, 68, 68) !important;
    color: rgb(222, 222, 222) !important;
}

.res-nightmode #RESSubredditGroupDropdown a,
.res-nightmode #RESSubredditGroupDropdown > .RESShortcutsEditButtons .res-icon,
.res-nightmode .RESNotificationContent, .res-nightmode .RESNotificationFooter,
.res-nightmode .sr-bar a {
    color: rgb(222, 222, 222);
}

.res-nightmode #header, .res-nightmode .liveupdate-home .content {
    background-color: rgb(105, 105, 105);
    /*
    border-bottom: 1px solid rgb(160, 160, 160) !important;
    */
    border-bottom-color: rgb(160, 160, 160) !important;
}

.res-nightmode .tabmenu li.selected a {
    color: orangered;
    background-color: white;
    /*
    border: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid white;
    */
    border-color: rgb(160, 160, 160);
    border-bottom-color: white;
/*    z-index: 100;*/
}

.res-nightmode div#RESShortcutsEditContainer,
.res-nightmode div#RESShortcutsSort,
.res-nightmode div#RESShortcutsRight, .res-nightmode div#RESShortcutsLeft,
.res-nightmode div#RESShortcutsAdd, .res-nightmode div#RESShortcutsTrash {
    background: rgb(68, 68, 68) !important;
    color: rgb(140, 179, 217) !important;
}

/* FRONTPAGE */

.res-nightmode .content .spacer {
/*
    margin-bottom: 0px !important;
*/
}

.res-nightmode .NERPageMarker {
    background-color: rgb(24, 24, 24);
/*
    margin: 0px !important;
*/
}

.res-nightmode body.with-listing-chooser.listing-chooser-collapsed>.content{
/*
    margin-left: 10px !important;
*/
}

.res-nightmode .thing.odd.link {
/*
    padding: 7px !important;
    margin: 0;
*/
    background-color: #222;
}

.res-nightmode .thing.even.link{
    background: rgb(24, 24, 24);
/*
    padding: 7px !important;
    margin: 0;
*/
}


.res-nightmode .midcol .score,
.res-nightmode .moduleButton:not(.enabled) {
    color: #c6c6c6 !important;
}

.res-nightmode .rank .star, .res-nightmode .link .score.likes,
.res-nightmode .linkcompressed .score.likes {
    color: rgb(255, 69, 0) !important;
}

.res-nightmode .rank .star, .res-nightmode .link .score.dislikes,
.res-nightmode .linkcompressed .score.dislikes {
    color: rgb(140, 179, 217) !important;
}

.res-nightmode .content {
    background: rgb(17, 17, 17);
    border-color: rgb(17, 17, 17);
/*
    margin: 0px;
*/
}

.res-nightmode .link .rank {
     color: #c6c6c6 !important;
}

.res-nightmode .domain a {
    color: rgb(173, 216, 230) !important;
}

.res-nightmode .subreddit {
    color: rgba(20, 150, 220, 0.8) !important;
}

.res-nightmode .author {
    color: rgba(20, 150, 220, 0.8) !important;
}

.res-nightmode .live-timestamp {
    color: #B3B375 !important;
}

.res-nightmode .RES-keyNav-activeElement > .tagline,
.res-nightmode .RES-keyNav-activeElement .md-container > .md,
.res-nightmode .RES-keyNav-activeElement .md-container > .md p {
    color: rgb(187, 187, 187) !important;
}

.res-nightmode .flair, .res-nightmode .linkflairlabel {
    background-color: rgb(187, 187, 187);
    color: rgb(0, 0, 0);
/*
    padding: 1px;
*/
}

.res-nightmode .titlebox form.toggle,
.res-nightmode .leavemoderator {
/*
    background: #262626 none no-repeat scroll center left !important;
*/
    background-color: #262626;
}

.res-nightmode:not(.res-nightMode-coloredLinks) .thing:not(.stickied) .title:visited,
.res-nightmode:not(.res-nightMode-coloredLinks) .thing.visited:not(.stickied) .title,
.res-nightmode:not(.res-nightMode-coloredLinks).combined-search-page .search-result a:visited,
.res-nightmode:not(.res-nightMode-coloredLinks).combined-search-page .search-result a:visited>mark {
    color: rgb(120, 120, 120);
}

.res-nightmode .md,
.res-nightmode .content .sitetable .thing .md,
.res-nightmode .RES-keyNav-activeElement .md-container > .md p {
    color: rgb(222, 222, 222) !important;
}

.res-nightmode .combined-search-page .search-result a {
    color: rgb(222, 222, 222);
}

.res-nightmode .entry .buttons li a {
    color: rgb(150, 150, 150) !important;
}

.res-nightmode #RESSubredditGroupDropdown,
.res-nightmode #RESSubredditGroupDropdown > .RESShortcutsEditButtons {
    background-color: rgb(68, 68, 68) !important;
    border-color: rgb(128, 128, 128) !important;
}

/* BUTTONS */

.res-nightmode .thing .expando-button,
.res-nightmode .thing .expando-button:hover,
.res-nightmode .expando-button,
.res-nightmode .expando-button:hover {
    background-image: url(%%buttons-nightmodeClassic-u-RunTillYouPuke%%);
    background-color: transparent;
}

.res-nightmode .expando-button.video-muted.collapsed {
    background-position: 0px -384px !important;
}

.res-nightmode .expando-button.video-muted.collapsed:hover {
    background-position: 0px -408px !important;
}

.res-nightmode .expando-button.video-muted.expanded {
    background-position: 0px -432px !important;
}

.res-nightmode .expando-button.video-muted.expanded:hover {
    background-position: 0px -456px !important;
}

.res-nightmode .expando-button.selftext.collapsed {
    background-position: 0px -96px !important;
}

.res-nightmode .expando-button.selftext.collapsed:hover{
    background-position: 0px -120px !important;
}

.res-nightmode .expando-button.selftext.expanded {
    background-position: 0px -144px !important;
}

.res-nightmode .expando-button.selftext.expanded:hover {
    background-position: 0px -168px !important;
}

.res-nightmode .expando-button.image.gallery.collapsed {
    background-position: 0px -288px !important;
}

.res-nightmode .expando-button.image.gallery.collapsed:hover {
    background-position: 0px -312px !important;
}

.res-nightmode .expando-button.image.gallery.expanded {
    background-position: 0px -336px !important;
}

.res-nightmode .expando-button.image.gallery.expanded:hover {
    background-position: 0px -360px !important;
}

.res-nightmode .expando-button.video.collapsed {
    background-position: 0px -192px !important;
}

.res-nightmode .expando-button.video.collapsed:hover {
    background-position: 0px -216px !important;
}

.res-nightmode .expando-button.video.expanded {
    background-position: 0px -240px !important;
}

.res-nightmode .expando-button.video.expanded:hover {
    background-position: 0px -264px !important;
}

/* COMMENTS */

.res-nightmode .res-commentBoxes .comment {
    border-color: transparent;
/*
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
*/
}
.res-nightmode .linkflairlabel, .res-nightmode .flair {
/*
    padding-top: 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
*/
}
.res-nightmode.res-commentBoxes .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: rgb(24, 24, 24) !important;

}
.res-nightmode.res-commentBoxes .comment .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: rgb(34, 34, 34) !important;
}
