body.front-page.res-hide-tagline-frontpage .tagline { display: none; }

.res-nightmode:not(.res-nightMode-coloredLinks) .thing .title {
  color: hsl(0,0%,87%);
}
.res-nightmode:not(.res-nightMode-coloredLinks) .thing:not(.stickied) .title:visited,
.res-nightmode:not(.res-nightMode-coloredLinks) .thing.visited:not(.stickied) .title,
.res-nightmode:not(.res-nightMode-coloredLinks).combined-search-page .search-result a:visited,
.res-nightmode:not(.res-nightMode-coloredLinks).combined-search-page .search-result a:visited > mark {
  color: hsl(0,0%,65%);
}

.new-comment .usertext-body { margin: 0; }

.res-neverEndingReddit-hideFloatingPauseButton #NREPause { display: none; }

body.res-stylesheet-theme-nightModeClassic-u-RunTillYouPuke:before {
    opacity: 0.9;
    content: 'Visit /r/RESAnnouncements to restore your nightmode theme (https://redd.it/46xvsf)';
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid darkred;
    padding: 1em;
    background: #333;
    color: #ccc;
    text-align: center;
}

 .res-r-nekoatsume .res-nightmode .link {
    background-color: transparent;
}

.res-r-nekoatsume .res-nightmode .arrow.up,
.res-r-nekoatsume .res-nightmode .arrow.up:hover {
    background-image: url(%%r-nekoatsume-up3%%);
    background-position: 0px 0px;
}
.res-r-nekoatsume .res-nightmode .arrow.upmod,
.res-r-nekoatsume .res-nightmode .arrow.upmod:hover {
    background-image: url(%%r-nekoatsume-upvote3%%);
    background-position: 0px 0px;
}

.res-r-nekoatsume .res-nightmode .arrow.down,
.res-r-nekoatsume .res-nightmode .arrow.down:hover {
    background-image: url(%%r-nekoatsume-down4%%);
    background-position: 0px 0px;
}

.res-r-nekoatsume .res-nightmode .arrow.downmod,
.res-r-nekoatsume .res-nightmode .arrow.downmod:hover {
    background-image: url(%%r-nekoatsume-downvote4%%);
    background-position: 0px 0px;
}
