export REDDIT_APP_SECRET='qwertyuiopqwertyuiopqwertyu'
export CLOUDFLARE_API_KEY='qwertyuiopqwertyuiopqwertyuiopqwertyuioopq'
export AWS_ACCESS_KEY_ID='AKIAI2QWERTYUIOPQWER'
export AWS_ACCESS_KEY_SECRET='/1weW+r+5XQWeRtYUIoPQWeRTyU78I90P123Qwe!'
export REDDIT_APP_REFRESH_TOKEN='qwertyu-iopqwertyiopqwertyuiop-qwert'

set -e

#git pull

if [ $(basename $(pwd)) != 'reddit' ];  then
	cd reddit
fi
source setup.sh
source bin/activate
export PYTHONPATH=$(pwd):$PYTHONPATH
python updatesubreddit/stylesheets.py /Users/andytuba/q/res-updates/css/andytuba.css
